.scale-wrap {
    color: #d3d6dd;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    .bg {
        width: 100%;
        height: 100%;
        padding: 16px 16px 10px 16px;
        box-sizing: border-box;
        background-image: url("./img/pageBg.png");
        background-size: cover;
        background-position: center center;
    }

    .host-body {
        height: 100%;
    }
}


.yh-setting-fade-enter-active {
    animation: yh-setting-fade-in .3s;
}

.yh-setting-fade-leave-active {

    animation: yh-setting-fade-out .3s;

}

@keyframes yh-setting-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes yh-setting-fade-out {
    0% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}


@keyframes rtl-drawer-in {
    0% {
        transform: translate(100%, 0)
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes rtl-drawer-out {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(100%, 0)
    }
}

/* 通用滚动条样式（Chrome / Edge / Safari） */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00f5ff, #006eff);
  border-radius: 10px;
  box-shadow: 0 0 6px #00f5ff;
  transition: background 0.3s, box-shadow 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #33ffff, #0090ff);
  box-shadow: 0 0 10px #33ffff;
}

::-webkit-scrollbar-track {
  background: rgba(0, 20, 40, 0.6);
  border-radius: 10px;
}

/* Firefox 滚动条样式 */
* {
  scrollbar-width: thin;
  scrollbar-color: #00f5ff rgba(0, 20, 40, 0.6);
}